* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffa392;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #ffffff;
  padding: 0.5rem;
}
main {
  background: url(./images/twilight.jpg);
  background-size: cover;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main section {
  text-align: center;
}
section h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
}
.clock {
  display: flex;
}
.clock div {
  margin: 5px;
  position: relative;
}
.clock span {
  width: 100px;
  height: 80px;
  background: #ffa392;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #ef9a8b;
  text-align: center;
}
.clock #ampm {
  position: absolute;
  bottom: 0;
  width: 60px;
  font-size: 20px;
  height: 30px;
  background-color: rgb(109, 98, 132, 0.8);
}
